.mw-fileimporter-url-text {
    margin-bottom: 14px;
}

.mw-importfile-import-summary {
    margin-bottom: 14px;
}

.mw-importfile-import-newtitle {
    margin-bottom: 14px;
}

.mw-importfile-parsedContent {
    background-color: #f8f9fa;
    border: 1px solid #c8ccd1;
    padding: 1em 1em 1.5em 1em;
}

.mw-importfile-importOptions {
    background-color: #f8f9fa;
    border: 1px solid #c8ccd1;
    padding: 1em 1em 1.5em 1em;
}

.mw-importfile-rightAlign {
    float: right;
}

.mw-importfile-edittitle span.oo-ui-labelElement-label {
    font-size: 1em;
    font-weight: normal;
}