@import 'mediawiki.skin.variables.less';

.mw-fileimporter-url-submit,
.mw-importfile-backButton {
	margin-top: 14px;
}

.mw-importfile-import-summary {
	margin-bottom: 14px;
}

// Mostly copied from the .editOptions styles, see …/mediawiki.action/mediawiki.action.edit.styles.less
.mw-importfile-parsedContent,
.mw-importfile-importOptions {
	background-color: @background-color-interactive;
	border: @border-width-base @border-style-base @border-color-subtle;
	border-radius: @border-radius-base;
	margin-top: 1em;
	padding: 1em 1em 1.5em 1em;
}

.mw-importfile-parsedContent {
	// Same as .catlinks
	background-color: @background-color-interactive-subtle;

	.mw-parser-output {
		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
}

.mw-importfile-header {
	border-bottom: @border-width-base @border-style-base @border-color-base;
	margin: 1em 0 0.25em 0;
	overflow: auto;
	padding-bottom: 0.2em;
	position: relative;

	h2 {
		border: 0;
		bottom: 0;
		display: inline-block;
		margin: 0;
		position: absolute;
	}
}

.mw-importfile-rightAlign {
	bottom: 0;
	float: right;
	position: relative;
}

.mw-importfile-help-banner {
	margin-bottom: @spacing-250;

	span.oo-ui-labelElement-label {
		display: flex;
	}

	.mw-importfile-help-banner-text {
		flex-grow: 1;

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}

		ol {
			/* Default indention is 3.2em */
			margin-left: 1.2em;
		}
	}

	.mw-importfile-image-help-banner {
		background-position: center;
		background-repeat: no-repeat;
		background-size: @size-full;
		margin: 0 @spacing-200;
		min-width: 250px;
	}

	.oo-ui-icon-close {
		cursor: @cursor-base--hover;
	}

	input[ type='checkbox' ] {
		display: none;

		&:checked + .oo-ui-messageWidget {
			display: none;
		}
	}
}
