@import 'mediawiki.ui/variables';

.mw-fileimporter-url-text,
.mw-importfile-import-summary,
.mw-importfile-import-newtitle,
.mw-importfile-diff-view {
	margin-bottom: 14px;
}

// Mostly copied from the .editOptions styles, see …/mediawiki.skinning/interface.css
.mw-importfile-parsedContent,
.mw-importfile-importOptions {
	background-color: @colorGray14;
	border: 1px solid @colorGray12;
	border-radius: @borderRadius;
	padding: 1em 1em 1.5em 1em;
}

.mw-importfile-parsedContent {
	background-color: @colorGray15;
}

.mw-importfile-header {
	border-bottom: 1px solid @colorGray10;
	margin: 1em 0 0.25em 0;
	overflow: auto;
	padding-bottom: 0.2em;
	position: relative;
}

.mw-body-content .mw-importfile-header-title {
	border: 0;
	bottom: 0;
	display: inline-block;
	margin: 0;
	position: absolute;
}

.mw-importfile-rightAlign {
	bottom: 0;
	float: right;
	position: relative;
}

.mw-importfile-error-back-button {
	margin-top: 15px;
}

.mw-importfile-error-banner.errorbox {
	border: 1px solid @colorDestructive;
	color: @colorGray1;
	display: block;
}

.mw-importfile-success-banner.successbox {
	border-color: #14866d;
	color: @colorGray1;
	display: block;
	padding-bottom: 1em;
	padding-top: 1em;
}

.mw-importfile-add-template-button {
	margin-top: 0.5em;
}
